body,html{
	background: #f8f8f8;
}
/*head*/
.cakeSort header{
	position: fixed;
	top: 0;
	left: 0;
	background: #FFFFFF;
	width: 100%;
	padding: 0 1rem;
	height: 3.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #ECECEC;
	z-index: 111;
}
.cakeSort header .iconfont{
	font-size: 1.5rem;
}
.cakeSort header h1{
	flex: 1;
	text-align: center;
}
.cakeSort header h1 img{
	height: 2.5rem;
}
/*banner*/
.cakeSort .banner{
	padding-top: 3.5rem;
	height: 13.4rem;
	position: relative;
	overflow: hidden;
}
.cakeSort .banner p:first-of-type{
	height:18rem ;
	width: 17rem;
	margin-left: 2rem;
	margin-top: 1rem;
}
.cakeSort .banner p:last-of-type {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	padding-right:1.25rem ;
	padding-bottom: 1.25rem;
	background: rgba(0,0,0,0.2);
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-end;
}
.cakeSort .banner .s_w{
	width: 10.2rem;
	height: 1.5rem;
}
.cakeSort .banner .word{
	font-size: 2rem;
	color: #fdfdfd;
	font-weight: 500;
}
/*sort*/
.cakeSort .sort1{
	width: 85%;
	margin: 0 auto;
	margin-top: 0.8rem;
	display: flex;
	justify-content: space-between;
}
.sort{
	padding-bottom: 5rem;
}
.cakeSort .sort dt{
	width: 6.2rem;
	height:5.2rem;
	text-align: center;
}
.cakeSort .sort dd{
	width: 5.4rem;
	text-align: center;
}
